{% extends "blog/base_to_login.html" %}

{% block title %}Authorization{% endblock %}

{% block content %}
<div class="center_reg">
    <h2 class="Auth_class">Authorization menu</h2>
    {% if loggined == True %}
    <p>WRONG LOGIN OR PASSWORD!</p>
    {% endif %}
    <form class="border_form" action="." method="post">
        <p>Login</p>
        {{ form.login }}
        <p>Password</p>
        <p>{{ form.password }}</p>
        {% csrf_token %}
        <p><a href="/Recent">Recent password</a></p>
        <a href="/registration">Registration</a>
        <a class="Back" href="/">>>Back</a>
        <p><input class="input_button" type="submit" value="Authorizate"></p>
    </form>
</div>
{% endblock %}