{% extends "blog/base_to_blog.html" %}

{% block title %}Moderation Panel{% endblock %}

{% block content %}
<div class="all_posts center">
    <h1>Moderation Panel</h1>
    <p><a class="menu_button" href="/add_film">Add film</a></p>
    <p><a class="menu_button" href="/delete_user">Delete user</a></p>
    <p><a class="menu_button" href="/add_style">Add style</a></p>
    <p><a class="menu_button" href="/adminPanel">>Admin panel</a></p>
    <p><a class="menu_button" href="/">>Back</a></p>
</div>
{% endblock %}