{% extends "blog/base_to_blog.html" %}

{% block title %}{{ who }}{% endblock %}

{% block content %}
    {% if error != True %}
        <div class="all_posts center">
            <br>
            <br>
            <form method="post">
                <h1 class="text_prod">{{ who }}</h1>
                {% if method_who == 'Old_password' %}
                    <p class="text_prod">Old password</p>
                    <p class="">{{ form.name }}</p>
                    <p class="text_prod">New password</p>
                    <p class="">{{ form.new_name }}</p>
                {% elif method_who == 'New_password' %}
                    <p>{{ user }}</p>
                    <p class="text_prod">New password</p>
                    <p class="">{{ form.name }}</p>
                {% else %}
                    <p class="text_prod">Your email</p>
                    <p class="">{{ form.emails }}</p>
                {% endif %}
                {% csrf_token %}
                <p><input class="input_button otstyp" type="submit" value="{{ who }}"></p>
            </form>
        </div>
    {% endif %}
{% endblock %}