{% extends "blog/base_to_blog.html" %}
{% load static %}
{% block title %}All films{% endblock %}

{% block content %}
{% for best in the_best %}
<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<!--
<div class="slider">
    <div class="slider_objects">
        <div class="text_title">{{ best.title }}</div>
        <div class="numbertext">{{ best.num }} / {{ best.num_int }}</div>
        <img src="{% static best.url %}">
    </div>
</div>
//-->
{% endfor %}
<script>
    console.log('LorCO');
</script>
<div class="all_posts">
    <h1 class="text_films">All films:</h1>
    {% for post in posts %}
    <div class="one_in_list" onclick="location.href='/{{ post.slug }}'">
        <h2>
            <a class="post_title" href="{{ post.slug }}">
                {{ post.title }}
            </a>
            <p class="date">Style: {{ post.style }} </p>
        </h2>
        <img class="art" src="{{ post.art_link }}">
        <a class="description_left">{{ post.description|truncatewords:50|linebreaks }}</a>
        <p class="date">Published: {{ post.publish }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}