{% extends "blog/base_to_blog.html" %}

{% block title %}Add {{ who }}{% endblock %}

{% block content %}
{% if error != True %}
<div class="all_posts center">
    <h1>Add new {{ who }}</h1>
    {% if loggined == True %}
    <p class="text_prod">This actor already exists</p>
    {% endif %}
    <form method="post">
        <a class="text_prod">Name</a>
        <a class="border">{{ form.Name }}</a>
        {% csrf_token %}
        <p><input class="input_button otstyp" type="submit" value="Add new {{ who }}"></p>
    </form>
</div>
{% endif %}
{% endblock %}