{% extends "blog/base_to_blog.html" %}

{% block title %}Add film{% endblock %}

{% block content %}
<div class="all_posts center">
    <h1>Add new film</h1>
    {% if loggined == True %}
    <p class="text_prod">This slug already exists</p>
    {% endif %}
    <form method="post">
        <p class="text_prod">Title</p>
        <p class="border">{{ form.Title }}</p>
        <p class="text_prod border">if you need more than 1 person, then choose with ctrl</p>
        <p class="text_prod">Actors</p>
        <p class="border">{{ form.actors }}</p>
        <p class="text_prod">Producers</p>
        <a class="border">{{ form.prod }}</a>
        <p class="text_prod">Description</p>
        <a class="border">{{ form.description }}</a>
        <p class="text_prod">Link to the photo, if it is empty, it will find it itself</p>
        <a class="border">{{ form.art_link }}</a>
        <p class="text_prod">Style</p>
        <a class="border">{{ form.style }}</a>
        <p class="text_prod">Slug</p>
        <a class="border">{{ form.slug }}</a>
        {% csrf_token %}
        <p><input class="input_button otstyp" type="submit" value="Add new film"></p>
    </form>
</div>
{% endblock %}