{% extends "blog/base_to_login.html" %}
{% load static %}
{% block title %}Authorization{% endblock %}

{% block content %}
    {% if request.Auth_user == None %}
        <div class="center_reg">
            <h2 class="Auth_class">Authorization menu</h2>
            {% if trouble == True %}
                <p>WRONG LOGIN OR PASSWORD!</p>
            {% endif %}
            <form class="border_form" method="post">
                <p>Login</p>
                {{ form.login }}
                <p>Password</p>
                <p>{{ form.password }}</p>
                {% csrf_token %}
                <p><a href="/recent">Forgot password?</a></p>
                <a href="/registration">Registration</a>
                <a class="Back" href="/">>>Back</a>
                <p><input class="input_button" type="submit" value="Authorize"></p>
            </form>
        </div>
    {% else %}
        <a href="/" class="center_error"><img class="center" src="{% static 'photos/404.png' %}"></a>
    {% endif %}
{% endblock %}